# API Keys
MP_API_KEY=
SEMANTIC_SCHOLAR_API_KEY=

# Email configurations
CROSSREF_EMAIL=

# Service URLs
AGENTS_URL=http://agents:8003
AGENTS_SERVICE_URL=http://agents:8000

# CORS Configuration
CORS_ALLOW_ORIGINS=http://localhost:3000

# Models Configuration
AGENT_EVALUATOR_MODEL=Qwen2.5-7B-Instruct-1M
AGENT_INSIGHTS_MODEL=Qwen2.5-7B-Instruct-1M

# Tracing Configuration
AGENT_TRACE_DIR=agent_core/data/traces